In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('spam_ham.csv')

In [20]:
df.groupby('label').describe()

      Unnamed: 0                                                         \
           count    mean          std     min      25%     50%      75%
label
ham       3672.0  1835.5  1060.159422     0.0   917.75  1835.5  2753.25
spam      1499.0  4421.0   432.868340  3672.0  4046.50  4421.0  4795.50

              label_num
          max     count mean  std  min  25%  50%  75%  max
label
ham    3671.0    3672.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
spam   5170.0    1499.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0

In [28]:
df.tail()

,Unnamed: 0,label,text,label_num
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.text,df['label_num'],test_size=0.2)

In [22]:
len(x_train)

4136

In [23]:
from sklearn.feature_extraction.text import CountVectorizer

In [24]:
from sklearn.pipeline import Pipeline

In [25]:
cf=Pipeline([
            ('vectorizer',CountVectorizer()),
            ('nb',MultinomialNB()) ])

In [26]:
cf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [27]:
cf.score(x_test,y_test)

0.978743961352657

In [32]:
emails=['For the handy man, new electrical supplies ',
        '3 / 4 / 2000 and following noms\r\nhp...']

In [39]:
cf.predict(emails)

array([1, 0], dtype=int64)

In [38]:
y_test[:10]

3351    0
3611    0
4187    1
764     1
1210    1
859     1
3769    0
734     0
2462    0
3785    0
Name: label_num, dtype: int64